<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>day11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>phanvanhuy.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryCreateServlet</display-name>
    <servlet-name>CategoryCreateServlet</servlet-name>
    <servlet-class>phanvanhuy.servlet.CategoryCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryCreateServlet</servlet-name>
    <url-pattern>/CategoryCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherListServlet</display-name>
    <servlet-name>PublisherListServlet</servlet-name>
    <servlet-class>phanvanhuy.servlet.PublisherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherListServlet</servlet-name>
    <url-pattern>/PublisherListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>phanvanhuy.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCreateServlet</display-name>
    <servlet-name>BookCreateServlet</servlet-name>
    <servlet-class>phanvanhuy.servlet.BookCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCreateServlet</servlet-name>
    <url-pattern>/BookCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>phanvanhuy.servlet.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/BookEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDelete</display-name>
    <servlet-name>BookDelete</servlet-name>
    <servlet-class>phanvanhuy.servlet.BookDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDelete</servlet-name>
    <url-pattern>/BookDelete</url-pattern>
  </servlet-mapping>
</web-app>